/* for main page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #000;
    color: white;
}

/* for Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-left: 25px;
    transition: 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: rgb(0, 119, 255);
    transition: 0.3s;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a:hover,
.active {
    color: rgb(0, 119, 255);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    font-size: 29px;
}

.logo img {
    width: 40px;
}

.logo span {
    font-weight: normal;
}

.menu-toggle {
    display: none;
}

/* 🔥 Mobile Fix */
@media (max-width: 768px) {

    nav {
        padding: 15px 5%;
    }

    nav ul {
        flex-direction: column;
        background: rgba(0,0,0,0.9);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px 0;
    }

    nav ul li {
        margin: 12px 0;
    }

    .menu-toggle {
        display: block;
        font-size: 26px;
        cursor: pointer;
        color: white;
    }

    .logo {
        font-size: 20px;
    }
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.netdirector.co.uk/gforces-auto/image/upload/w_768,h_512,q_auto,c_fill,f_auto,fl_lossy/auto-client/b70d3a70fae6b51ee1c53b2e77eb698a/m8_gran_coupe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content h1 {
    font-size: 64px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #ddd;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}

/* ===== PREMIUM LOADER ===== */
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease, filter 1s ease;
}

.loader-content {
    text-align: center;
    color: white;
}

/* Logo Pulse */
.loader-logo {
    width: 100px;
    animation: pulse 1.5s infinite ease-in-out;
    margin-bottom: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Loading Text Animation */
.loading-text {
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 0.8;
    animation: fadeText 1.5s infinite;
}

@keyframes fadeText {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

/* Exit Animation */
#loader.hide {
    opacity: 0;
    filter: blur(10px);
    pointer-events: none;
}

/* Booking Page */
.booking {
    min-height: 100vh;
    align-items: center;
    padding: 120px 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://revistartt.cl/wp-content/uploads/2022/10/P90462492_highRes_the-new-bmw-3-series-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.booking .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.booking .booking-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.booking h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.booking p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #ddd;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
}

.booking-form textarea {
    resize: none;
    height: 120px;
}

.booking-form button {
    padding: 15px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.booking-form button:hover {
    background: white;
    color: black;
}

/* Responsive */
@media (max-width: 768px) {
    .booking h1 {
        font-size: 36px;
    }

    .booking p {
        font-size: 16px;
    }
}

/* ===== MODELS PAGE ===== */

.models-container {
    min-height: 100vh;
    align-items: center;
    padding-left: 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://hips.hearstapps.com/hmg-prod/images/2025-bmw-3-series-102-66562dcd6a1c6.jpg?crop=0.554xw:0.415xh;0.184xw,0.406xh&resize=1200:*);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 8%;
    background-attachment: fixed;
}

.models-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.models-header h2 {
    font-size: 32px;
}

.models-header select {
    padding: 8px;
    background: #111;
    color: white;
    border: 1px solid #444;
}

.models-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.models-row a {
    text-decoration: none;
}

.model-card {
    background-color: rgba(165, 165, 165, 0.4);
    backdrop-filter: blur(100%);
    padding: 15px;
    transition: 0.3s;
}

.model-card:hover {
    transform: translateY(-5px);
}

.model-card img {
    width: 100%;
}

.model-card h4 {
    margin: 10px 0;
    color: white;
}

.rating i {
    color: gold;
    font-size: 14px;
}

.model-card p {
    margin-top: 8px;
    font-weight: bold;
    color: white;
}

/* ===== CAR PAGE ===== */
.car-page {
    min-height: 100vh;
    padding: 120px 8%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://preview.redd.it/the-best-driving-cars-ever-all-in-one-pic-it-doesnt-get-any-v0-81xgkd27illd1.jpeg?auto=webp&s=4c6d038e0805bb2db889af5161e3cbd64751af35);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.car-img {
    width: 80%;
    max-width: 900px;
    margin: 30px 0;
}

.car-specs {
    display: grid;
    gap: 15px;
    margin-bottom: 30px;
    font-size: 18px;
}



.auto-slider {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    animation: slide 15s infinite;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Auto Animation */
@keyframes slide {

    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }

}


@media (max-width: 768px) {

    .auto-slider {
        height: 250px;
    }

    .car-specs {
        font-size: 14px;
    }

    .car-page {
        background-attachment: scroll;
    }
}

/* ===== SERVICES PAGE ===== */
.services-main {
    min-height: 100vh;
    padding: 120px 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://cdn.shopify.com/s/files/1/0603/6134/3200/files/IMG_2124-1024x768.jpg?v=1638347205');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-main h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.services-main p {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 40px;
    line-height: 1.6;
}

/* Services Cards */
.services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.service-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.services-cards a {
    text-decoration: none;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h2 {
    color: #00bfff;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}

/* ===== SERVICE PAGES ===== */
.service-page {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://www.bmw.cc/content/dam/bmw/common/topics/offers-and-services/personal-services/ws-vehiclecheck-and-maintenance/bmw-vehicle-checks.jpg);
    min-height: 100vh;
    padding: 120px 8%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    text-align: center;
}

.service-page h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(0, 119, 255);
}

.service-page p {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #ccc;
}

.service-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.detail-box {
    background: rgba(12, 12, 12, 0.644);
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.detail-box h3 {
    color: #1c69d4;
}

.detail-box a {
    text-decoration: none;
}

.detail-box:hover {
    transform: translateY(-8px);
    background: rgba(0, 119, 255, 0.1);
}


.service-hero {
    background: linear-gradient(to right, #1b1f22, #1c1f20);
    color: white;
    text-align: center;
    padding: 80px 20px;
}


.service-hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.service-details-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://di-uploads-pod10.dealerinspire.com/billjacobsbmw/uploads/2024/06/DI23_000163093_US_market-1024x683.jpg);
    display: flex;
    gap: 40px;
    padding: 60px 10%;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.service-image img {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
}

.service-content {
    flex: 1;
}

.service-content h2 {
    margin-bottom: 20px;
}

.service-content ul {
    list-style: none;
    padding: 0;
}

.service-content ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-ser {
    display: inline-block;
    padding: 12px 25px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-ser:hover {
    background: #1c69d4;
}


/* ===== ABOUT ===== */
.about-main {
    min-height: 100vh;
    padding: 120px 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://mediapool.bmwgroup.com/cache/P9/201712/P90289855/P90289855-the-world-s-first-bmw-m-and-bmw-m-performance-showroom-in-singapore-12-2017-2249px.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.about-main h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #00bfff;
}

.about-main p {
    font-size: 18px;
    max-width: 800px;
    margin-bottom: 20px;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
    .about-main h1 {
        font-size: 36px;
    }

    .about-main p {
        font-size: 16px;
    }
}

/* ===== PREMIUM FOOTER ===== */
.premium-footer {
    background: #050505;
    padding: 70px 8% 30px;
    border-top: 1px solid rgba(0, 119, 255, 0.3);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 50px;
    margin-bottom: 40px;
}

.footer-col h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(0, 119, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-col p {
    font-size: 14px;
    color: #777;
    line-height: 1.8;
}

.footer-col p a {
    text-decoration: none;
    color: #666;
    line-height: 1.8;
    font-size: 0.9rem;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    transition: 0.3s ease;
    position: relative;
}

.footer-col ul li a:hover {
    color: rgb(0, 119, 255);
    padding-left: 5px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #555;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        gap: 30px;
    }
}